/* Formattazione generale */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Formattazione body */
body {
    margin: 28px 128px;
}

/* header */
.page-header {
    height: 180px;   
    width: 100%;
    background-color: #e579e6;
    margin-bottom: 30px;
}

/* sezione "upper-main" */
.upper-main {
    height: 580px;
    width: 100%;
    background-color: #e1d67a;
    margin-bottom: 30px;
}

/* Sezione "lower-main" */
.lower-main {
    height: 680px;
    width: 100%;
    background-color: #0086fe;
    margin-bottom: 30px;
}

.section-header {
    height: 10%;
    width: 100%;
    background-color: #abcfe7;
}

.lower-main::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
    background-color: #abcfe7;
    height: 86%;
}

aside {
    width: 16%;
    margin: 1% 0;
}

.subsection {
    width: 66%;
    margin: 1% 1%;
}

/* Piè di pagina */
footer {
    height: 100px;
    width: 100%;
    background-color: #8801fe;
}