/* Formattazione generale */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Formattazione body */
body {
    margin: 50px 200px;
}

/* header */
.page-header {
    height: 100px;   
    width: 100%;
    background-color: #e579e6;
}

/* sezione "upper-main" */
/* TOGLI ALTEZZA QUANDO CI METTI IL CONTENUTO */
.upper-main {
    height: 300px;
    width: 100%;
    background-color: #e1d67a;
}

/* Sezione "lower-main" */
.lower-main {
    height: 450px;
    width: 100%;
    background-color: #0086fe;
}

.section-header {
    height: 15%;
    width: 100%;
    background-color: #abcfe7;
    margin-bottom: 3%;
}

.lower-main::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
    background-color: #abcfe7;
    height: 70%;
    margin: 0 5px;
}

aside {
    width: 10%;
}

.subsection {
    width: 30%;
}
